<% breadcrumb :edit_cloud_service %>

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5><%= t('cloud_service_administration.edit_cloud_service') %></h5>
  </div>

  <div class="ibox-content">
    <%= form_for(@cloud_service, url: admin_cloud_service_path, method: :put) do |f| %>

      <div class="row">
        <div class="col-xs-12">
          <%= render 'shared/form_messages', object: f.object %>
        </div>
      </div>


      <div class="row">
        <!-- Left column -->
        <div class="col-md-6">
          <%= render 'admin/cloud_services/partial/general_fields', f: f %>
        </div>

        <!-- Right column -->
        <div class="col-md-6">
          <% if is_iaas?(@cloud_service) %>
            <div class="form-group">
              <%= f.label :price, t('cloud_service_administration.price_per_month') %>
              <%= f.number_field :price, class: 'form-control', placeholder: t('cloud_service_administration.price'), min: 0, step: :any %>
            </div>

            <%= f.fields_for(:iaas_attribute) do |ff| %>
                <%= render 'admin/cloud_services/partial/iaas_fields', f: ff %>
            <% end %>

          <% elsif is_paas?(@cloud_service) %>
            <div class="form-group">
              <%= f.label :price, t('cloud_service_administration.price_per_month') %>
              <%= f.number_field :price, class: 'form-control', placeholder: t('cloud_service_administration.price'), min: 0, step: :any %>
            </div>

            <%= render 'admin/cloud_services/partial/paas_fields', f: f %>

          <% elsif is_saas?(@cloud_service) %>
            <div class="form-group">
              <%= f.label :price, t('cloud_service_administration.price_per_unit') %>
              <%= f.number_field :price, class: 'form-control', placeholder: t('cloud_service_administration.price'), min: 0, step: :any %>
            </div>

            <%= render 'admin/cloud_services/partial/saas_fields', f: f %>

          <% end %>
        </div>
      </div>


      <div class="row">
        <!-- Buttons -->
        <div class="col-xs-12">
          <%= f.button t('buttons.save'), class: 'btn btn-primary' %>
          <%= link_to(t('buttons.cancel'), admin_cloud_services_path, class: 'btn btn-white') %>
        </div>
      </div>

    <% end %>
  </div>
</div>