<% breadcrumb :cloud_service_administration %>

<div class="ibox afloat-e-margins">
  <div class="ibox-title">
    <h5><%= t('cloud_service_administration.cloud_services') %></h5>

    <div class="pull-right">
      <%= link_to new_admin_cloud_service_path, class: 'btn btn-xs btn-primary' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <%= t('cloud_service_administration.create_cloud_service') %>
      <% end %>
    </div>
  </div>
  <div class="ibox-content">

    <!-- Result information -->
    <div class="row">
      <div class="col-xs-12 text-right">
        <div class="pagination-info">
          <%= page_entries_info @cloud_services, entry_name: t('cloud_service_administration.cloud_services') %>
        </div>
      </div>
    </div>


    <% unless @cloud_services.blank? %>
    <!-- Table with Cloud Services -->
    <table class="footable table table-striped">
      <thead>
        <tr>
          <th data-type="html"><%= t('cloud_service_administration.title') %></th>
          <th data-breakpoints="xs sm"><%= t('cloud_service_administration.cloud_service_model') %></th>
          <th class="text-right" data-breakpoints="xs"><%= t('cloud_service_administration.price') %></th>
          <th class="text-center" data-type="html" data-filterable="false"><%= t('status') %></th>
          <th class="text-center" data-type="html" data-filterable="false" data-sortable="false"><%= t('actions') %></th>
        </tr>
      </thead>

      <tbody>
      <% @cloud_services.each do |cs| %>
          <tr>
            <td><%= link_to cs.title, cloud_service_path(cs) %></td>
            <td><%= cs.cloud_service_type.name %></td>
            <td class="text-right"><%= number_to_currency(cs.price) %></td>

            <td class="text-center">
              <% if cloud_service_active?(cs) %>
                  <span class="glyphicon glyphicon-ok text-info" data-toggle="tooltip" data-placement="left" title="<%= t('cloud_service_administration.cs_unlocked') %>"></span>
              <% else %>
                  <span class="glyphicon glyphicon-remove text-danger" data-toggle="tooltip" data-placement="left" title="<%= t('cloud_service_administration.cs_locked') %>"></span>
              <% end %>
            </td>

            <td class="text-center action-icons">
              <%= link_to edit_admin_cloud_service_path(cs) do %>
                  <i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="<%= t('cloud_service_administration.edit_cloud_service') %>"></i>
              <% end %>

              <%= link_to admin_cloud_service_path(cs), data: { confirm: t('cloud_service_administration.sure_to_change_status') }, method: :delete do %>
                  <% if cloud_service_active?(cs) %>
                      <i class="fa fa-lock" data-toggle="tooltip" data-placement="right" title="<%= t('cloud_service_administration.lock_cs') %>"></i>
                  <% else %>
                      <i class="fa fa-unlock" data-toggle="tooltip" data-placement="right" title="<%= t('cloud_service_administration.unlock_cs') %>"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
    <% end %>


    <div class="row">
      <div class="col-xs-12 text-right">
        <%= paginate @cloud_services %>
      </div>
    </div>

  </div>
</div>