<div class="middle-box text-center loginscreen animated fadeIn">

  <h2><%= t('account.resend_confirmation_mail') %></h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: t('account.email'), value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <%= f.button t('account.send'), class: 'btn btn-primary block full-width m-b' %>

  <% end %>

  <hr>

  <%= render 'devise/shared/links' %>
</div>