<td class="list">
  <ul>
    <% cs.paas_categories.each do |category| %>
      <li><%= t('for_database.paas_categories.' + category.name) %></li>
    <% end %>
  </ul>
</td>

<td class="text-right" data-sort-value="<%= cs.price %>">
  <%= number_to_currency(cs.price) %>
</td>

<td class="text-right image-icon" data-sort-value="<%= CsAttributeWeighting.calc_paas_credits(cs) %>">
  <%= number_with_delimiter CsAttributeWeighting.calc_paas_credits(cs) %>
  <%= image_tag 'icons/glyphicon-coins.png' %>
</td>