<% breadcrumb :edit_profile %>

<div class="ibox afloat-e-margins">
  <div class="ibox-title">
    <h5><%= I18n.t('profile.edit_profile') %></h5>
  </div>

  <div class="ibox-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="row">
        <div class="col-md-6">

          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :first_name, t('account.first_name') %>
            <%= f.text_field :first_name, class: 'form-control', placeholder: t('account.first_name'), autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :last_name, t('account.last_name') %>
            <%= f.text_field :last_name, class: 'form-control', placeholder: t('account.last_name') %>
          </div>

          <div class="form-group">
            <%= f.label :email, t('account.email') %>
            <%= f.email_field :email, class: 'form-control', placeholder: t('account.email') %>
          </div>

          <div class="form-group">
            <%= f.label :current_password, t('account.current_password') %>
            <%= f.password_field :current_password, class: 'form-control',
                                 placeholder: t('account.current_password'), autocomplete: 'off' %>
          </div>

          <div class="form-group">
            <%= f.label :password, t('account.new_password') %>
            <%= f.password_field :password, class: 'form-control',
                                 placeholder: t('account.new_password'), autocomplete: 'off' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, t('account.repeat_password') %>
            <%= f.password_field :password_confirmation, class: 'form-control',
                                 placeholder: t('account.repeat_password'), autocomplete: 'off' %>
          </div>

        </div>
      </div>


      <!-- Buttons -->
      <div class="row">
        <div class="col-xs-12">
          <%= f.button t('buttons.save'), class: 'btn btn-primary' %>
          <%= link_to(t('buttons.cancel'), cloud_services_path, class: 'btn btn-white') %>
        </div>
      </div>

    <% end %>
  </div>
</div>