<p class="image-icon">
  <%= number_with_delimiter CsAttributeWeighting.calc_iaas_credits(cs) %>
  <%= image_tag 'icons/glyphicon-coins.png' %>
</p><hr>

<p><%= number_with_delimiter cs.iaas_attribute.ram %></p><hr>
<p><%= number_with_delimiter cs.iaas_attribute.cpu %></p><hr>
<p><%= number_with_delimiter cs.iaas_attribute.storage %></p><hr>
<p><%= number_with_delimiter cs.iaas_attribute.bandwidth %></p><hr>
<p><%= cs.iaas_attribute.operating_system.name %></p><hr>
<p><%= number_to_currency cs.price %></p><hr>
