<p><%= t('product_comparison.ram') %></p><hr>
<p><%= t('product_comparison.cpu') %></p><hr>
<p><%= t('product_comparison.storage') %></p><hr>
<p><%= t('product_comparison.bandwidth') %></p><hr>
<p><%= t('product_comparison.operating_system') %></p><hr>
<p><%= t('product_comparison.price_per_month') %></p><hr>