<% breadcrumb :user_administration %>

<div class="ibox afloat-e-margins">
  <div class="ibox-title">
    <h5><%= t('user_administration.registered_users') %></h5>

  </div>
  <div class="ibox-content">

    <!-- Search field -->
    <div class="row">
      <div class="col-sm-3">
        <input type="text" class="form-control input-sm m-b-xs" id="filter-users" placeholder="<%= t('user_administration.search_users') %>">
      </div>
      <div class="col-sm-9 text-right">
          <div class="pagination-info">
            <%= page_entries_info @users, entry_name: t('user_administration.user') %>
          </div>
      </div>
    </div>


    <!-- Table with users -->
    <% unless @users.blank? %>
    <table id="footable-users" class="footable table table-stripped toggle-arrow-tiny" data-filter="#filter-users">
      <thead>
        <tr>
          <th><%= t('account.last_name') %></th>
          <th data-hide="phone"><%= t('account.first_name') %></th>
          <th data-hide="phone"><%= t('account.email') %></th>
          <th class="text-center"><%= t('status') %></th>
          <th class="text-center" data-sort-ignore="true"><%= t('actions') %></th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td class="text-center" data-value="<%= user.active %>">
            <% if user_active?(user) %>
            <span class="glyphicon glyphicon-ok text-info"></span>
            <% else %>
            <span class="glyphicon glyphicon-remove text-danger"></span>
            <% end %>
          </td>
          <td class="text-center action-icons">
            <%= link_to edit_admin_user_path(user) do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %>

            <% unless user.admin || user == current_user %>
              <%= link_to admin_user_path(user), data: { confirm: t('user_administration.sure_to_change_status') }, method: :delete do %>
                <% if user_active?(user) %>
                  <i class="fa fa-lock"></i>
                <% else %>
                  <i class="fa fa-unlock"></i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>

    <div class="row">
      <div class="col-lg-12 text-right">
        <%= paginate @users %>

      </div>
    </div>


  <% end %>

  </div>
</div>