<% breadcrumb :registered_user_administration %>

<div class="ibox afloat-e-margins">
  <div class="ibox-title">
    <h5><%= t('user_administration.registered_users') %></h5>
  </div>
  <div class="ibox-content">

    <!-- Table with users -->
    <% unless @users.blank? %>
    <table class="table table-striped general-footable">
      <thead>
        <tr>
          <th data-breakpoints="xs sm"><%= t('account.first_name') %></th>
          <th data-breakpoints="xs"><%= t('account.last_name') %></th>
          <th><%= t('account.email') %></th>
          <th class="text-center" data-type="html" data-filterable="false"><%= t('status') %></th>
          <th class="text-center" data-type="html" data-filterable="false" data-sortable="false"><%= t('actions') %></th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td class="text-center">
            <% if user_active?(user) %>
            <span class="glyphicon glyphicon-ok text-info" data-toggle="tooltip" data-placement="left" title="<%= t('user_administration.user_unlocked') %>"></span>
            <% else %>
            <span class="glyphicon glyphicon-remove text-danger" data-toggle="tooltip" data-placement="left" title="<%= t('user_administration.user_locked') %>"></span>
            <% end %>
          </td>
          <td class="text-center action-icons">
            <%= link_to edit_admin_user_path(user) do %>
                <i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="<%= t('user_administration.edit_user') %>"></i>
            <% end %>

            <% unless user.has_role? :admin || user == current_user %>
              <%= link_to toggle_status_admin_user_path(user, redirect_location: :index), data: { confirm: t('user_administration.sure_to_change_status') }, method: :post do %>
                <% if user_active?(user) %>
                  <i class="fa fa-lock" data-toggle="tooltip" data-placement="right" title="<%= t('user_administration.lock_user') %>"></i>
                <% else %>
                  <i class="fa fa-unlock" data-toggle="tooltip" data-placement="right" title="<%= t('user_administration.unlock_user') %>"></i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>
  <% end %>

  </div>
</div>