<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">

    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>

      <%= link_to t('project_name'), cloud_services_path, class: 'navbar-brand' %>
    </div>


    <div class="navbar-collapse collapse" id="navbar">

      <ul class="nav navbar-nav">

        <%= active_link_to(t('navigation.search'), cloud_services_path, wrap_tag: :li) %>

        <%= active_link_to(t('navigation.product_comparison'), product_comparisons_path, onclick: 'alert("Feature not implemented yet.")', wrap_tag: :li) %>

        <% if current_user.admin? %>
        <li class="dropdown <%= 'active' if is_active_link?(admin_cloud_services_path, :inclusive) %>">
          <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('navigation.cloud_services') %>
            <span class="caret"></span>
          </a>
          <ul role="menu" class="dropdown-menu">
            <%= active_link_to(t('navigation.display_cloud_services'), admin_cloud_services_path, active: [['admin/cloud_services'], ['index', 'edit']], wrap_tag: :li) %>
            <%= active_link_to(t('navigation.create_cloud_services'), new_admin_cloud_service_path, active: :inclusive, wrap_tag: :li) %>
          </ul>
        </li>

          <%= active_link_to(t('navigation.user_administration'), admin_users_path, wrap_tag: :li) %>
        <% end %>
      </ul>

      <!-- Right side -->
      <ul class="nav navbar-nav navbar-top-links navbar-right">

        <!-- Wide screen -->
        <li class="dropdown hidden-xs <%= 'active' if is_active_link?(user_registration_path, :inclusive) %>">
          <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('navigation.profile') %>
            <span class="caret"></span>
          </a>
          <ul role="menu" class="dropdown-menu">
            <%= active_link_to(t('navigation.edit_profile'), edit_user_registration_path, wrap_tag: :li) %>
            <li><%= link_to(t('navigation.logout'), destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>

        <!-- Mobile -->
        <%= active_link_to(t('navigation.edit_profile'), edit_user_registration_path, class: 'visible-xs-inline-block', wrap_tag: :li) %>
        <li class="visible-xs-inline-block"><%= link_to(t('navigation.logout'), method: :delete) %></li>
      </ul>
    </div>

  </nav>
</div>
