<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>GeizCloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>


<% if content_for?(:no_scaffold) %>

  <div id="no-scaffold" class="gray-bg">
  <%= yield :no_scaffold%>
  </div>

<% else %>

    <div id="header">
      <%= yield %>
    </div>

<% end %>


</body>
</html>
