<%= render 'layouts/partials/head' %>

<body class="top-navigation">

<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">

    <%= render 'layouts/partials/navigation' %>


    <div class="wrapper wrapper-content">
      <div class="container">

        <%= render 'layouts/partials/breadcrumbs' %>

        <div class="row">

          <%= render 'shared/flash_messages' %>

        <%= yield %>

        </div>
      </div>
    </div>

  <%= render 'layouts/partials/footer' %>

  </div>
</div>

</body>

<%= render 'layouts/partials/tail' %>