<%= render 'layouts/partials/head' %>

<body class="top-navigation">

<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">

    <%= render 'layouts/partials/navigation' %>

    <div class="wrapper wrapper-content container">

      <div id="breadcrumbs">
        <%= render 'layouts/partials/breadcrumbs' %>
      </div>

      <div id="flash-messages">
        <%= render 'shared/flash_messages' %>
      </div>

      <div id="main-content">
        <%= yield %>
      </div>

    </div>

  <%= render 'layouts/partials/footer' %>

  </div>
</div>

<%= render 'shared/ajax_loader' %>

</body>

<%= render 'layouts/partials/tail' %>